---
import "../styles/style.css";
import Accordion from "../components/Accordion.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Accordion Astro</title>
  </head>
  <body>
    <header>
      <h1>Accordion in Astro</h1>
      <p>Accordion example in Astro</p>
      <p>Using <a href="https://www.w3schools.com/tags/tag_details.asp" targer="_blank">details</a> HTML tag in an <em>components</em></p>
    </header>
    <main>
      <Accordion title="Here's an Accordion">
        <h4>Here it is</h4>
        <p>It's not quite like in HTML</p>
        <p>But better</p>
      </Accordion>
      <Accordion title="Other Accordian">
        <h4>That's Another one</h4>
        <p>Not better, the same</p>
      </Accordion>
      <Accordion title="Nuts Copys">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error praesentium veniam, doloribus nobis facere quod quisquam voluptatem eligendi asperiores odit cum neque consequuntur ipsa harum ratione sint, ab hic animi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium adipisci distinctio, impedit, aliquam deleniti autem laborum eos aliquid saepe vero modi ut tenetur reprehenderit consectetur in temporibus odit numquam non?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus incidunt corporis id aut accusamus deleniti nesciunt, nisi quas reprehenderit provident ea molestias voluptatem necessitatibus! Modi ipsum harum praesentium explicabo quia?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis iusto provident, nam odio ad consectetur hic suscipit aperiam in minima ipsam alias veritatis aliquam. Voluptates amet a quibusdam repellat provident?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam maxime, quisquam voluptate sequi voluptatem necessitatibus quo tempore minus rerum? Deleniti dolorem adipisci iusto tenetur ullam tempore quam illum error molestias.</p>
      </Accordion>
    </main>
  </body>
</html>
