---
const { points } = Astro.props;
---

<scroll-indicator data-points={points}>
  <div class="container">
    <div class="indicator"></div>
  </div>
</scroll-indicator>

<script>
  class ScrollIndicator extends HTMLElement {
    constructor() {
      super();

      const pointsAsString = this.dataset.points;
      let points = JSON.parse(pointsAsString);
      const endPoint = 1.0;
      points.push(endPoint);

      window.addEventListener("scroll", onScroll);

      function onScroll() {
        let scrolled = document.body.scrollTop || document.documentElement.scrollTop;
        let height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        let scrolledfactor = scrolled / height;
        let indicatorPoint = 0;
        points.forEach((point) => {
          let indicatorDiff = Math.abs(indicatorPoint - scrolledfactor);
          let pointDiff = Math.abs(point - scrolledfactor);
          if (pointDiff < indicatorDiff) {
            indicatorPoint = point;
          }
        });
        document.querySelector(".indicator").style.width = `${indicatorPoint * 100}%`;
      }
    }
  }
  customElements.define("scroll-indicator", ScrollIndicator);
</script>
<style>
  .container {
    width: 100%;
    height: 0.5rem;
    background-color: lightgray;
  }
  .indicator {
    width: 0%;
    height: 100%;
    background-color: darkgray;
  }
</style>
